body {
  overflow: hidden;
}

[class*="bg"] {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.bg-1 {
  background-image: url(../../assets/gallery/DSC02951.jpg);
}

.bg-2 {
  background-image: url(../../assets/gallery/DSC03015.jpg);
}

.bg-3 {
  background-image: url(../../assets/gallery/DSC03148.jpg);
}

.bg-4 {
  background-image: url(../../assets/gallery/DSC03347.jpg);
}

.bg-5 {
  background-image: url(../../assets/gallery/DSC03038.jpg);
}

.bg-6 {
  background-image: url(../../assets/gallery/DSC02911.jpg);
}

.bg-7 {
  background-image: url(../../assets/gallery/DSC02996.jpg);
}

.bg-8 {
  background-image: url(../../assets/gallery/DSC03052.jpg);
}
