<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="center">
        <h1 id="photo-title">Photography</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 card">
      <img src="../../assets/gallery/DSC02951.jpg" alt="Tiffany in the Faroe Islands">
    </div>
    <div class="col-sm-3 card">
      <img src="../../assets/gallery/DSC03015.jpg" alt="View over the Faroe Islands">
    </div>
    <div class="col-sm-3 card">
      <img src="../../assets/gallery/DSC03347.jpg" alt="Tiffany in the Faroe Islands">
    </div>
    <div class="col-sm-3 card">
      <img src="../../assets/gallery/DSC03148.jpg" alt="Tiffany in the Faroe Islands">
    </div>
  </div>
</div>
