/* ----- General page styling ----- */

#about-copy h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  color: #333;
  margin: 0 auto;
  text-align: justify;
}

#about-image {
  width: 100%;
  margin-top: 3vh;
}

.container {
  margin-top: 40px;
}

.icons {
  margin: 20px 0 20px 0;
  text-align: center;
}

.icons img {
  height: 50px;
  transition: 0.3s;
}

.icons img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.icons h4 {
  font-weight: 300;
}

/* ----- Media screens ----- */

@media screen and (max-width: 750px) {
}
