<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="center">
            <h1 id="about-title">About Me</h1>
          </div>
        </div>
      </div>
      <div class="row icon-row">
        <div class="center">
          <div class="col-sm-12">
            <a href="https://www.facebook.com/ashlaidlaw1" target="_blank"><img src="../assets/facebook-icon.svg" alt="Check out my Facebook!" class="icons" id="facebook-icon"></a>
            <a href="mailto: ashlaidlaw@gmail.com"><img src="../assets/email-icon.svg" alt="Send me an email!" class="icons" id="email-icon"></a>
            <a href="https://github.com/Yhbv24" target="_blank"><img src="../assets/github-icon.svg" alt="Check out my GitHub!" class="icons" id="linkedin-icon"></a>
            <a href="https://www.linkedin.com/in/ash-laidlaw/" target="_blank"><img src="../assets/linkedin-icon.svg" alt="Check out my LinkedIn!" class="icons" id="linkedin-icon"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="about-copy" [@loadAbout]>
            <h4>Hey! Thanks for stopping by. My name is Ash, and I'm a web developer based in Portland, OR. I got into the field because I enjoy working with people, and working on fun, challenging projects. Portland is a great city, and it's really becoming a destination for technology.</h4>
            <h4>The main languages with which I work are JavaScript and PHP, and I am familiar with various frameworks for each language. I am also familiar with the Drupal CMS. The two frameworks I know best are Angular 2 and Silex, although I am always learning and researching new technologies and frameworks, and how best to apply them.</h4>
            <h4>I enjoy going to the many tech meetups in Portland, and learning as much as I can. I also enjoy photography, going for hikes, and enjoying the myriad of microbrewewries with friends.</h4>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
