/* ----- General page styling ----- */

body {
  background-image: url(../../assets/about.jpg);
  background-size: cover;
  height: 90vh;
  margin-top: -10px;
}

#about-copy {
  font-family: 'Reem Kufi', sans-serif;
  line-height: 1.3em;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  transition: 5s;
}

.container {
  margin-top: 10px;
}

#about-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.6);
}

.icons {
  height: 100px;
}

.icon-row {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* ----- Facebook Icon ----- */

#facebook-icon {
  transition: 0.5s;
}

#facebook-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- LinkedIn Icon ----- */

#linkedin-icon {
  transition: 0.5s;
}

#linkedin-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- GitHub Icon ----- */

#github-icon {
  transition: 0.5s;
}

#github-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- Email Icon ----- */

#email-icon {
  transition: 0.5s;
}

#email-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- Media screens ----- */

@media screen and (max-width: 750px) {
  body {
    background-image: url(../../assets/about-mobile.jpg);
    background-size: cover;
    min-height: 90vh;
    margin-top: -10px;
  }

  h4 {
    font-size: 1em;
  }

  #about-title {
    font-size: 5em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .icons {
    height: 40px;
  }
}
