/* ----- General page styling ----- */

#about-copy h4 {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  color: #333;
  margin: 0 auto;
  text-align: justify;
}

#about-image {
  width: 100%;
  margin-top: 3vh;
}

.container {
  margin-top: 40px;
}

.icons {
  margin: 20px 0 20px 0;
  text-align: center;
}

.icons img {
  height: 50px;
}

.icons h4 {
  font-weight: 300;
}

/* ----- Facebook Icon ----- */

#facebook-icon {
  transition: 0.5s;
}

#facebook-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- LinkedIn Icon ----- */

#linkedin-icon {
  transition: 0.5s;
}

#linkedin-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- GitHub Icon ----- */

#github-icon {
  transition: 0.5s;
}

#github-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- Email Icon ----- */

#email-icon {
  transition: 0.5s;
}

#email-icon:hover {
  transition: 0.5s;
  transform: rotateX(30deg);
}

/* ----- Media screens ----- */

@media screen and (max-width: 750px) {
}
