<html>
  <body>
    <div class="container" [@loadAbout]>
      <div class="row">
        <div class="col-sm-5">
          <div id="about-copy">
            <h4>Hey! Thanks for stopping by. My name is Ash, and I'm a web developer based in Portland, OR. I got into the field because I enjoy working with people, and working on fun, challenging projects. I am interested in front-end development, design, and UX. I enjoy the design process, and I enjoy collaborating and bringing ideas to life.</h4><br>
            <h4>The languages I use most often are JavaScript (TypeScript), CSS (SASS), PHP, jQuery, and the Angular 2 (Angular 4) framework, including animations. I am always striving to learn and implement new technologies, and I enjoy problem solving. I feel like programming is a large puzzle. It can be frustrating, but there's nothing like overcoming the challenges and seeing a project come into its own. I am always open to experimenting, and my current goal is to further my knowledge of Angular, while also learning React.</h4><br>
            <h4>I'm currently looking for work as a developer, and I can often be found at meetups around town that have to do with JavaScript, design, and UX. I can also be found on hikes, taking photos, and enjoying beers with friends. I hope to hear from you. Let's get a cup of coffee!</h4>
          </div>
        </div>
        <div class="col-sm-7">
          <img src="./../assets/about.jpg" alt="A photo of Ash" id="about-image">
          <div class="icons">
            <h4>Click a link to contact me or read more!</h4>
            <a href="mailto: ashlaidlaw@gmail.com"><img src="./../assets/email-icon.svg" alt="Send me an email"></a>
            <a href="https://www.linkedin.com/in/ash-laidlaw/"><img src="./../assets/linkedin-icon.svg" alt="Link to my LinkedIn account"></a>
            <a href="https://github.com/Yhbv24"><img src="./../assets/github-icon.svg" alt="Link to my GitHub account"></a>
            <a href="https://www.facebook.com/ashlaidlaw1"><img src="./../assets/facebook-icon.svg" alt="Link to my Facebook account"></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
