<html>
  <body>
    <div class="row">
      <a routerLink="">
        <div class="col-sm-3 home">
          <p id="home-text">Home</p>
        </div>
      </a>
      <a routerLink="work">
        <div class="col-sm-3 work">
          <a id="work-text">Work</a>
        </div>
      </a>
      <a routerLink="photography">
        <div class="col-sm-3 photography">
          <a id="photography-text">Photography</a>
        </div>
      </a>
      <a routerLink="about">
        <div class="col-sm-3 about">
          <a id="about-text">About</a>
        </div>
      </a>
    </div>
  </body>
</html>
