body {
  height: 90vh;
  overflow: hidden;
}

.container {
  margin-top: 10px;
}

.panel {
  font-family: 'Reem Kufi', sans-serif;
  border-radius: 0;
  box-shadow: 0;
  cursor: pointer;
}

.left-section {
  height: 60vh;
  overflow: scroll;
}

#work-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  color: #444;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #363A4A;
  transition: 0.3s;
}

.panel-heading {
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  background-color: #E2BABB;
}

.bob-ross,
.hockey-team,
.shoe-store,
.laptop {
  background-repeat: no-repeat;
  background-size: contain;
  height: 60vh;
  transition: 0.5s;
  margin-top: 30px;
}

.bob-ross {
  background-image: url(../../assets/bob-ross.jpg);
}

.hockey-team {
  background-image: url(../../assets/team-manager.jpg);
}

.shoe-store {
  background-image: url(../../assets/shoe-shopper.jpg);
}

.laptop {
  background-image: url(../../assets/laptop-about.jpg);
}

/* ----- Media Screens ----- */

@media screen and (max-width: 750px) {
  .left-section {
    height: auto;
    overflow: auto;
  }

  body {
    height: auto;
    overflow: auto;
  }

  #work-title{
    font-size: 4em;
  }

  .bob-ross,
  .hockey-team,
  .shoe-store,
  .laptop {
    margin-top: 0;
  }
}
