body {
  height: 90vh;
  overflow: hidden;
}

.container {
  margin-top: 10px;
}

.panel {
  font-family: 'Reem Kufi', sans-serif;
  border-radius: 0;
  box-shadow: 0;
}

.left-section {
  height: 60vh;
  overflow: scroll;
}

.right-section {
  font-family: 'Reem Kufi', sans-serif;
}

#work-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 5em;
  color: #444;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #363A4A;
  transition: 0.3s;
}

.panel-heading {
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 0;
  background-color: #E2BABB;
}

.bob-ross,
.hockey-team,
.shoe-store {
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.project-content {
  display: none;
  transition: 0.3s;
}

.bob-ross {
  background-image: url(../../assets/bobross-4.jpg);
}

.hockey-team {
  background-image: url(../../assets/hockeyteam-1.jpg);
}

.shoe-store {
  background-image: url(../../assets/shoestore-1.jpg);
}

/* ----- Media Screens ----- */

@media screen and (max-width: 786px) {
  .left-section {
    height: auto;
    overflow: auto;
  }

  body {
    height: auto;
    overflow: auto;
  }
}
