/* You can add global styles to this file, and also import other style files */
.center {
  text-align: center;
}

#loading {
  height: 200px;
}

/* -----

Font Styles:

font-family: 'Erica One', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Righteous', cursive;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Roboto', sans-serif;

----- */
