.wrap {
  font-family: 'Poiret One', cursive;
  font-size: 0.4em;
}

.home,
.work,
.photography,
.about {
  color: white;
  height: 70px;
  font-size: 4em;
  text-align: center;
  padding-top: 18px;
}

.home {
  background-color: #696D7D;
}

.work {
  background-color: #6F9283;
}

.photography {
  background-color: #8D9F87;
}

.about {
  background-color: #CDC6A5;
}
