body {
  font-family: 'Abril Fatface', cursive;
  margin: 0 auto;
  color: #444;
}

#hello {
  margin-top: 5vh;
  margin-bottom: -70px;
  font-size: 20em;
}

#welcome-body {
  font-size: 1.7em;
}

.red {
  color: red;
}

.cta {
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid black;
  width: 200px;
  transition: 0.3s;
}

.cta:hover {
  background-color: red;
  transition: 0.3s;
}

#see-the-work {
  margin: 20px 20px;
}

@media screen and (max-width: 750px) {
  #hello {
    font-size: 8em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #welcome-body {
    font-size: 1.4em;
  }
}
