.wrap {
  font-family: 'Abril Fatface', cursive;
  width: 70%;
  margin: 0 auto;
}

#hello {
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: -70px;
  font-size: 20em;
}

#welcome-body {
  font-size: 1.7em;
}

@media screen and (max-width: 768px) {
  #hello {
    font-size: 10em;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #welcome-body {
    font-size: 1.4em;
  }
}
